/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
:root {
    --colorCorp: #f82249;
    --colorCorpHover: #b41c38;
}

body {
    background: #fff;
    color: #000;
    font-family: "Poppins", sans-serif;
}

a {
    color: var(--colorCorp);
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #f8234a;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #000;
}

.main-page {
    margin-top: 70px;
}

.color-corp {
    color: var(--colorCorp);
}

.link {
    color: var(--colorCorp);
}

.link:hover {
    color: var(--colorCorpHover);
}

.btn-coolture {
    height: 48px;
    width: auto;
    color: #fff;
    background: var(--colorCorp);
    padding: 15px 22px;
    border-radius: 50px;
    border: 2px solid var(--colorCorp);
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
}

.btn-coolture:hover {
    color: #fff;
    background: var(--colorCorpHover);
    border: 2px solid var(--colorCorpHover);
}

.generic-container {
    margin-top: 25vh;
    margin-bottom: 15vh;
}

.v-center {
    display: flex;
    align-items: center;
}

.w-20 {
    width: 20%;
}

.vh-100 {
    height: 100vh;
}

.min-vh-60 {
    min-height: 60vh;
}

.page-wrap {
    min-height: 100vh;
}

.img-circle {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 50%;
    border-bottom-right-radius: 0px;
    width: 150px;
}

.img-fluid {
    object-fit: cover;
}

/* Prelaoder */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: var(--colorCorp);
    color: #fff;
    width: 48px;
    height: 48px;
    text-align: center;
    border-radius: 50px;
    border-bottom-right-radius: 0px;
    /* Perque sigui com el logo */
    right: 15px;
    bottom: 15px;
    z-index: 2;
    transition: background 0.5s ease-in-out;
}

.back-to-top i {
    font-size: 30px;
    padding-top: 6px;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: #e0072f;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #e0072f;
    color: #fff;
}

/* Sections Header
--------------------------------*/

.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
}

.section-header::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: var(--colorCorp);
    bottom: 0;
    left: calc(50% - 25px);
}

.section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.section-with-bg {
    background-color: #f6f7fd;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 90px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

@media (max-width: 991px) {
    #header {
        background: rgba(6, 12, 34, 0.98);
        height: 70px;
        padding: 15px 0;
        transition: all 0.5s;
    }
}

@media (max-width: 1199px) {
    #header .container {
        max-width: 100%;
    }
}

#header.header-scrolled,
#header.header-fixed {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 11px 0;
    transition: all 0.5s;
}

#header #logo {
    transition: all 0.5s;
}

@media (max-width: 991px) {
    #header #logo {
        /*margin-left: 5%;*/
        transition: all 0.5s;
    }
}

#header #logo img {
    padding: 0;
    margin: 0;
    /*max-*/
    height: 45px;
}

#header #logo2 img {
    padding: 0;
    margin: 0;
    /*max-*/
    height: 45px;
}

@media only screen and (min-width: 600px) {
    #header #logo2 {
        display: none;
    }
}

@media only screen and (max-width: 715px) {
    #header #logo {
        display: none;
    }
    #header #logo2 {
        display: block;
        /*margin-left: 5%;*/
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

/*.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}*/

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 0;
}

@media (max-width: 991px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */

.dropdown a {
    padding: 8px;
}

.nav-menu a {
    /*padding: 8px;*/
    text-decoration: none;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    outline: none;
}

@media (max-width: 1199px) {
    /*.nav-menu a {
        padding: 8px 4px;
    }*/
}

.nav-menu .menu-active a,
.nav-menu a:hover {
    color: var(--colorCorp);
}

@media (max-width: 486px) {
    .nav-menu > li {
        margin-left: 0px !important;
    }
}

.nav-menu > li {
    margin-left: 10px;
}

/*.nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--colorCorp);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}*/

/*.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .menu-active > a:before {
    visibility: visible;
    width: 100%;
}*/

.nav-menu li.btn-login a {
    height: 48px;
    width: auto;
    color: #fff;
    background: var(--colorCorp);
    padding: 15px 22px;
    border-radius: 50px;
    border: 2px solid var(--colorCorp);
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
}

.nav-menu li.btn-login a:hover {
    background: none;
}

.nav-menu li.btn-login:hover a:before,
.nav-menu li.btn-login.menu-active a:before {
    visibility: hidden;
}

.nav-menu li.btn-login a p {
    transition: all 0.5s;
}

.nav-menu li.btn-login a i {
    display: none;
    -webkit-text-stroke: 0.5px var(--colorCorp);
}

.nav-menu li.btn-login a i:hover {
    -webkit-text-stroke: 0.5px rgba(6, 12, 34, 0.98);
}

@media (max-width: 991px) {
    .nav-menu li.btn-login a {
        height: 48px;
        width: 48px;
    }
    .nav-menu li.btn-login a p {
        display: none;
        transition: all 0.5s;
    }
    .nav-menu li.btn-login a i {
        display: block;
        font-size: 25px;
        margin-top: -6px;
        margin-left: -11px;
    }
}

.nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    background: #fff;
    border-radius: 3px;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 10px;
    color: #060c22;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    border-radius: 3px;
}

.nav-menu ul li:hover > a {
    background: var(--colorCorp);
    color: #fff;
}

.nav-menu ul ul {
    margin: 0;
}

.nav-menu .search {
    width: 55%;
    transition: all 0.5s;
}

.nav-menu #searcher input[type="search"] {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}

.nav-menu #btn-search {
    padding: 0px 10px;
}

.nav-menu #btn-search:hover {
    color: var(--colorCorp);
}

.dropdown-menu {
    min-width: 120px;
}

.nav-menu .dropdown-item {
    display: block !important;
}

.nav-menu .dropdown-item img {
    width: 20px;
}

.nav-menu #btn-language {
    background-color: var(--colorCorp);
    height: 48px !important;
    width: 48px !important;
    border-radius: 50%;
    border-bottom-right-radius: 0px;
}

/*.nav-menu .dropdown:after {
    font-family: "FontAwesome";
    content: "\f078";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
}*/

.nav-menu #btn-language img {
    width: 40px;
}

.nav-menu .user-profile a:hover {
    color: var(--colorCorpHover);
}

.nav-menu .user-profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-radius: 50%;
    background-color: var(--colorCorp);
    border-bottom-right-radius: 0px;
}

@media only screen and (max-width: 991px) {
    .nav-menu .user-profile a span {
        display: none;
    }
}

.notifications {
    width: 48px;
    height: auto;
}

.nav-menu .user-notifications a span {
    position: absolute;
    right: -5px;
    border: 5px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: #fff;
    line-height: 11px;
}

/* Modal ("Popup per iniciar sessió/registrar-se") */

.modal {
    overflow-y: auto;
}

/* Solucionem el problema de que al obrir el model se'ns mogui la pàgina */

.modal-open {
    overflow: auto;
    padding-right: 0px !important;
}

.modal-content h2 {
    color: #000;
}

.modal-content .nav-link {
    display: inline;
    transition: all 0.5s;
}

.modal-content .nav-link:hover {
    color: var(--colorCorpHover);
    transition: all 0.5s;
}

.modal-content .login-separator {
    margin: 0 32px;
    border: 1px solid var(--colorCorp);
}

.modal-content .login-terms {
    color: #cfd8dc;
    font-size: 0.625rem;
    line-height: 1.6;
}

.modal-content .login-terms a {
    color: #90a4ae;
    text-decoration: underline;
}

.modal-content .login-terms a:hover {
    color: #607d8b;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
    width: 100%;
    height: 100vh;
    background: url(../img/intro-bg.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

@media (min-width: 1024px) {
    #intro {
        background-attachment: fixed;
    }
}

#intro:before {
    content: "";
    background: rgba(6, 12, 34, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 270px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

@media (max-width: 991px) {
    #intro .intro-container {
        top: 70px;
    }
}

#intro .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #f82249;
}

#intro .about-btn:hover {
    background: #f82249;
    color: #fff;
}

#intro h1 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 56px;
    font-weight: 600;
}

#intro h1 span {
    color: var(--colorCorp);
}

@media (max-width: 991px) {
    #intro h1 {
        font-size: 34px;
    }
}

#intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
}

@media (max-width: 991px) {
    #intro p {
        font-size: 16px;
    }
}

/* Carousel genres */

.carousel-item h2 {
    color: #fff;
}

#gendersCarousel img {
    width: 100px;
}

.genre-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* medium - display 2 (col-lg-6 | 100/2=50) */

@media (max-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(50%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-50%);
    }
}

/* large - display 6 (col-lg-2 | 100/6=16.6) */

@media (min-width: 992px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(16.6%);
    }
    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-16.6%);
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about {
    background: url("../img/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
}

@media (min-width: 1024px) {
    #about {
        background-attachment: fixed;
    }
}

#about:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#about h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

#about h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #fff;
}

#about p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #fff;
}

/*--------------------------------------------------------------
# Featured Section
--------------------------------------------------------------*/

#featured-genders {
    padding: 60px 0 30px 0;
}

#featured-genders .gender {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#featured-genders .gender .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#featured-genders .gender .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

#featured-genders .gender .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

#featured-genders .gender .details .social {
    height: 30px;
}

#featured-genders .gender .details a {
    color: #fff;
}

#featured-genders .gender .details a:hover {
    color: var(--colorCorp);
}

#featured-genders .gender:hover .details {
    bottom: 0;
}

#event-details {
    margin-top: 20vh;
}

#event-details .details h2 {
    color: #112363;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

#event-details .details .social {
    margin-bottom: 15px;
}

#event-details .details .social a {
    background: #e9edfb;
    color: #112363;
    line-height: 1;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding-top: 9px;
}

#event-details .details .social a:hover {
    background: var(--colorCorp);
    color: #fff;
}

#event-details .details .social a i {
    font-size: 18px;
}

#event-details .details p {
    color: #112363;
    font-size: 15px;
    margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Publicar rumor
--------------------------------------------------------------*/

/*** Custom checkboxes (tencar/obrir ull) ***/

.post-rumour input[type="checkbox"] {
    display: none;
}

/* to hide the checkbox itself */

.post-rumour input[type="checkbox"] + label:before {
    font-family: FontAwesome;
    display: inline-block;
}

.post-rumour input[type="checkbox"] + label:before {
    content: "\f06e";
}

/* unchecked icon */

.post-rumour input[type="checkbox"] + label:before {
    letter-spacing: 10px;
}

/* space between checkbox and label */

.post-rumour input[type="checkbox"]:checked + label:before {
    content: "\f070";
}

/* checked icon */

.post-rumour input[type="checkbox"]:checked + label:before {
    letter-spacing: 5px;
}

/* allow space for check mark */

/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/

#schedule {
    padding: 60px 0 60px 0;
}

#schedule .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
}

#schedule .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
}

#schedule .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    padding: 10px 100px;
}

@media (max-width: 991px) {
    #schedule .nav-tabs a {
        padding: 8px 60px;
    }
}

@media (max-width: 767px) {
    #schedule .nav-tabs a {
        padding: 8px 50px;
    }
}

@media (max-width: 480px) {
    #schedule .nav-tabs a {
        padding: 8px 30px;
    }
}

#schedule .nav-tabs a.active {
    background-color: var(--colorCorp);
    color: #fff;
}

#schedule .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
}

@media (min-width: 991px) {
    #schedule .sub-heading {
        width: 75%;
    }
}

#schedule .tab-pane {
    transition: ease-in-out 0.2s;
}

#schedule .schedule-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
}

#schedule .schedule-item:hover {
    background-color: #fff;
}

#schedule .schedule-item time {
    padding-bottom: 5px;
    display: inline-block;
}

#schedule .schedule-item .gender {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

#schedule .schedule-item .gender img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}

#schedule .schedule-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

#schedule .schedule-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
}

#schedule .schedule-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/

#venue {
    padding: 60px 0;
}

#venue .container-fluid {
    margin-bottom: 3px;
}

#venue .venue-map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
}

#venue .venue-info {
    background: url("../img/venue-info-bg.jpg") top center no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

#venue .venue-info:before {
    content: "";
    background: rgba(13, 20, 41, 0.8);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#venue .venue-info h3 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
}

@media (max-width: 574px) {
    #venue .venue-info h3 {
        font-size: 24px;
    }
}

#venue .venue-info p {
    color: #fff;
    margin-bottom: 0;
}

#venue .venue-gallery-container {
    padding-right: 12px;
}

#venue .venue-gallery {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

#venue .venue-gallery img {
    transition: all ease-in-out 0.4s;
}

#venue .venue-gallery:hover img {
    transform: scale(1.1);
}

/*--------------------------------------------------------------
# Hotels Section
--------------------------------------------------------------*/

#hotels {
    padding: 60px 0;
}

#hotels .hotel {
    border: 1px solid #e0e5fa;
    background: #fff;
    margin-bottom: 30px;
}

#hotels .hotel:hover .hotel-img img {
    transform: scale(1.1);
}

#hotels .hotel-img {
    overflow: hidden;
    margin-bottom: 15px;
}

#hotels .hotel-img img {
    transition: 0.3s ease-in-out;
}

#hotels h3 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 0 20px;
}

#hotels a {
    color: #152b79;
}

#hotels a:hover {
    color: var(--colorCorp);
}

#hotels .stars {
    padding: 0 20px;
    margin-bottom: 5px;
}

#hotels .stars i {
    color: #ffc31d;
}

#hotels p {
    padding: 0 20px;
    margin-bottom: 20px;
    color: #060c22;
    font-style: italic;
    font-size: 15px;
}

/*--------------------------------------------------------------
# Gallery Section
--------------------------------------------------------------*/

#gallery {
    padding: 60px;
    overflow: hidden;
}

#gallery .owl-nav,
#gallery .owl-dots {
    margin-top: 25px;
    text-align: center;
}

#gallery .owl-item {
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

#gallery .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#gallery .owl-dot.active {
    background-color: var(--colorCorp);
}

#gallery .gallery-carousel .owl-stage-outer {
    overflow: visible;
}

#gallery .gallery-carousel .center {
    border: 6px solid var(--colorCorp);
    margin: -10px;
    box-sizing: content-box;
    padding: 4px;
    background: #fff;
    z-index: 1;
}

/*--------------------------------------------------------------
# Sponsors Section
--------------------------------------------------------------*/

#supporters {
    padding: 60px 0;
}

#supporters .supporters-wrap {
    border-top: 1px solid #e0e5fa;
    border-left: 1px solid #e0e5fa;
    margin-bottom: 30px;
}

#supporters .supporter-logo {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 160px;
}

#supporters .supporter-logo:hover img {
    transform: scale(1.2);
}

#supporters img {
    transition: all 0.4s ease-in-out;
}

/*--------------------------------------------------------------
# Pàgina "Com funciona"
--------------------------------------------------------------*/

#faq #faq-list {
    padding: 0;
    list-style: none;
}

#faq #faq-list li {
    border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
    padding: 18px 0;
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding-right: 20px;
}

#faq #faq-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 16px;
}

#faq #faq-list p {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    #faq #faq-list a {
        font-size: 18px;
    }
    #faq #faq-list i {
        top: 13px;
    }
}

#faq #faq-list a.collapse {
    color: var(--colorCorp);
}

#faq #faq-list a.collapsed {
    color: #000;
}

#faq #faq-list a.collapsed i::before {
    content: "\f055" !important;
}

.inner-link {
    padding: 0 !important;
    display: inline !important;
}

.inner-link:hover {
    color: var(--colorCorpHover);
}

/*--------------------------------------------------------------
# Subscribe Section
--------------------------------------------------------------*/

#subscribe {
    padding: 60px;
    background: url(../img/subscribe-bg.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

#subscribe:before {
    content: "";
    background: rgba(6, 12, 34, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

@media (min-width: 1024px) {
    #subscribe {
        background-attachment: fixed;
    }
}

#subscribe .section-header h2,
#subscribe p {
    color: #fff;
}

#subscribe input {
    background: #fff;
    color: #060c22;
    border: 0;
    outline: none;
    margin: 0;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 14px;
}

@media (min-width: 767px) {
    #subscribe input {
        min-width: 400px;
    }
}

#subscribe button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: var(--colorCorp);
    color: #fff;
    transition: all 0.3s ease;
    outline: none;
    font-size: 14px;
    border-radius: 50px;
}

#subscribe button:hover {
    background: #e0072f;
}

@media (max-width: 460px) {
    #subscribe button {
        margin-top: 10px;
    }
}

/*--------------------------------------------------------------
# Buy Tickets Section
--------------------------------------------------------------*/

#btn-login {
    padding: 60px 0;
}

#btn-login .card {
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 10px 25px 0 rgba(6, 12, 34, 0.1);
}

#btn-login .card:hover {
    box-shadow: 0 10px 35px 0 rgba(6, 12, 34, 0.2);
}

#btn-login .card hr {
    margin: 25px 0;
}

#btn-login .card .card-title {
    margin: 10px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

#btn-login .card .card-price {
    font-size: 48px;
    margin: 0;
}

#btn-login .card ul li {
    margin-bottom: 20px;
}

#btn-login .card .text-muted {
    opacity: 0.7;
}

#btn-login .card .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: var(--colorCorp);
    border: 0;
    color: #fff;
}

#btn-login .card .btn:hover {
    background-color: #e0072f;
}

#btn-login #buy-ticket-modal input,
#btn-login #buy-ticket-modal select {
    border-radius: 0;
}

#btn-login #buy-ticket-modal .btn {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    transition: all 0.2s;
    background-color: var(--colorCorp);
    border: 0;
    color: #fff;
}

#btn-login #buy-ticket-modal .btn:hover {
    background-color: #e0072f;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/

#contact {
    padding: 60px 0;
}

#contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

#contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: var(--colorCorp);
}

#contact .contact-info address,
#contact .contact-info p {
    margin-bottom: 0;
    color: #112363;
}

#contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #112363;
}

#contact .contact-info a {
    color: #4869df;
}

#contact .contact-info a:hover {
    color: var(--colorCorp);
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
        padding: 20px 0;
    }
}

@media (min-width: 768px) {
    #contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
}

#contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

#contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

#contact .php-email-form .error-message br + br {
    margin-top: 25px;
}

#contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

#contact .php-email-form input::focus,
#contact .php-email-form textarea::focus {
    background-color: var(--colorCorp);
}

#contact .php-email-form input {
    padding: 20px 15px;
}

#contact .php-email-form textarea {
    padding: 12px 15px;
}

#contact .php-email-form button[type="submit"] {
    background: var(--colorCorp);
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
}

#contact .php-email-form button[type="submit"]:hover {
    background: #e0072f;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #101522;
    padding: 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #040919;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 26px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
}

#footer .footer-top .footer-info img {
    height: 40px;
    margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #222636;
    color: #eee;
    line-height: 1;
    padding: 8px 0;
    margin-right: 8px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: var(--colorCorp);
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 12px;
    border-bottom: 2px solid var(--colorCorp);
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 5px;
    color: var(--colorCorp);
    font-size: 18px;
}

#footer .footer-top .footer-links ul li {
    border-bottom: 1px solid #262c44;
    padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
    color: var(--colorCorp);
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: var(--colorCorp);
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #e0072f;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}

/*--------------------------------------------------------------
# Pàgina Login | Register
--------------------------------------------------------------*/

.login-container,
.container-register {
    margin-top: 28vh;
    margin-bottom: 20vh;
}

.login-container .btn-login,
.container-register .btn-register {
    background-color: var(--colorCorp);
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
    padding: 10px 50px;
}

.login-container .btn-login:hover,
.container-register .btn-register:hover {
    background-color: var(--colorCorpHover);
}

/*--------------------------------------------------------------
# Dashboard / Home
--------------------------------------------------------------*/

.dashboard {
    margin-top: 20vh;
    margin-bottom: 12vh;
}

.dashboard-menu {
    position: fixed;
    top: 70px;
}

.profile-content {
    margin-left: 15%;
}

#footer {
    position: -webkit-sticky;
}

.dashboard-menu ul li {
    height: 10px;
    overflow: hidden;
    padding-top: 60px;
    padding-bottom: 100px;
}

.dashboard-menu .nav-link img {
    display: block;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .dashboard-menu {
        z-index: 1;
    }
    .profile-content {
        margin-left: auto;
    }
    .dashboard-menu ul li {
        padding: 10px 0px;
        padding-bottom: 50px;
    }
    .dashboard-menu .nav-link img {
        height: 35px;
    }
}

.dashboard-menu .nav-link i {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dashboard-menu .nav-link:hover {
    color: var(--colorCorpHover);
}

@media (max-width: 992px) {
    .dashboard .btn-post {
        padding: 10px 22px;
    }
}

.table {
    border-top: 2px solid rgba(0, 0, 0, 0);
}

.nav-tabs {
    border-bottom: none;
}

@media (min-width: 768px) {
    .dashboard-menu aside {
        height: 100vh;
    }
}

/*--------------------------------------------------------------
# Pàgina Normes de publicació
--------------------------------------------------------------*/

#post-rules ul li {
    padding: 10px;
}

/*--------------------------------------------------------------
# Pàgina Privacitat
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Pàgina Privacitat
--------------------------------------------------------------*/

.container-results {
    margin-top: 20vh;
    margin-bottom: 20vh;
}

#results {
    padding: 60px 0 30px 0;
}

#results .result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#results .result {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

#results .result .details {
    background: rgba(6, 12, 34, 0.76);
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

#results .result .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

#results .result .details p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}

#results .result .details .social {
    height: 30px;
}

#results .result .details a {
    color: #fff;
}

#results .result .details a:hover {
    color: var(--colorCorp);
}

#results .result:hover .details {
    bottom: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--colorCorp);
}

/*--------------------------------------------------------------
# Secció comentaris
--------------------------------------------------------------*/

.content-item {
    padding: 30px 0;
    background-color: #ffffff;
}

.content-item.grey {
    background-color: #f0f0f0;
    padding: 50px 0;
    height: 100%;
}

.content-item h2 {
    font-weight: 700;
    font-size: 35px;
    line-height: 45px;
    text-transform: uppercase;
    margin: 20px 0;
}

.content-item h3 {
    font-weight: 400;
    font-size: 20px;
    color: #555555;
    margin: 10px 0 15px;
    padding: 0;
}

.content-headline {
    height: 1px;
    text-align: center;
    margin: 20px 0 70px;
}

.content-headline h2 {
    background-color: #ffffff;
    display: inline-block;
    margin: -20px auto 0;
    padding: 0 20px;
}

.grey .content-headline h2 {
    background-color: #f0f0f0;
}

.content-headline h3 {
    font-size: 14px;
    color: #aaaaaa;
    display: block;
}

.user-img {
    border-radius: 50%;
    border-bottom-right-radius: 0px;
    max-width: 100px;
}

li.borderless {
    border: 0 none;
}

#comments {
    background-color: #f6f7fd;
}

#comments form {
    margin-bottom: 30px;
}

#comments .btn {
    margin-top: 7px;
}

#comments form fieldset {
    clear: both;
}

#comments form textarea {
    height: 100px;
}

#comments .media {
    border-top: 1px dashed #dddddd;
    padding: 20px 0;
    margin: 0;
}

#comments .media > .pull-left {
    margin-right: 20px;
}

#comments .media img {
    border-radius: 50%;
    border-bottom-right-radius: 0px;
    max-width: 100px;
}

#comments .media h4 {
    margin: 0 0 10px;
}

#comments .media h4 span {
    font-size: 14px;
    float: right;
    color: #999999;
}

#comments .media p {
    margin-bottom: 15px;
    text-align: justify;
}

#comments .media-detail {
    margin: 0;
}

#comments .media-detail li {
    color: #aaaaaa;
    font-size: 12px;
    padding-right: 10px;
    font-weight: 600;
}

#comments .media-detail a:hover {
    text-decoration: underline;
}

#comments .media-detail li:last-child {
    padding-right: 0;
}

#comments .media-detail li i {
    color: #666666;
    font-size: 15px;
    margin-right: 10px;
}

/**/

.img-outline {
    box-shadow: 0 0 0 5pt #fff;
}

.eventmaker-container {
    margin-top: -10vh;
    margin-bottom: 15vh;
}

.eventmaker-header {
    height: 275px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
}

/*resultats category search*/
